.monster {
    width: 200px;
    height: 250px;
    border-radius: 5px;
    border: 2px solid black;
    background-image: linear-gradient(45deg, rgb(223, 223, 223), rgb(19, 180, 255));
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}