.element {
  cursor: pointer;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: linear-gradient(to left, rgb(134, 233, 250), rgb(12, 84, 167));
}
.btn {
  border-radius: 3px;
  margin-left: 8px;
  display: inline-block;
  width: 70px;
  height: 20px;
  text-align: center;
  padding: 3px;
  border: 1px solid rgb(30, 45, 114);
  background-color: rgb(15, 82, 170);
  color: white
}
.btn:hover{
  cursor: pointer;
}

li{
  font-size: 20px;
}

ul{
  width: 20%;
}