.collection-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    border: 2px solid hsla(0, 0%, 0%, 0.116);
    border-radius: 5px;
    margin: 10px;
}
.collection-picture{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.description{
    display: flex;
    justify-content: space-between;
    margin: 0px 3px;
    font-size: 15px;
    font-weight: 600;
}
